@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Montserrat:wght@500&family=Raleway:wght@300&display=swap');

h1{
font-family: 'Londrina Solid', cursive;
font-size: 300%;
color: rgb(127, 129, 21);
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
}

.hidden{
  display: none;
}

.container{
  text-align: center;
  border-style: dotted;
  
}